[class*='col-'] {
 float: left;
 border: 1px solid black;
}
h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}
.margin {
  margin-top: 100px;
}
.text , .image {
  text-align: center;
  padding: 20px 0;
}
.image > img {
 width: 310px;
 height: 230px;
}
