[class*='col-'] {
 float: left;
 border: 1px solid black;
}
h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}
h3 {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 70px;
}
.margin {
  margin-top: 100px;
}
.text , .image  {
  text-align: center;

}
.image > img {
 width: 250px;
 height: 250px;

}
.blue > img {
  background-color: blue;
  border-radius: 50px;
  margin-top: 30px;
}
