[class*='col-'] {
 float: left;

}
body {
  font-family: 'Noto Sans SC', sans-serif;
  background: rgb(58,180,98);
  background: linear-gradient(90deg, rgba(58,180,98,1) 0%, rgba(29,253,152,1) 50%, rgba(69,233,252,1) 100%);
}
h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #660033;
}
h3 {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 70px;
  color: #660033;
}
p {
  color: #666699;
}
.margin {
  margin-top: 100px;
}
.text , .image  {
  text-align: center;

}
.image > img {
 width: 250px;
 height: 250px;

}
.blue > img {
  background-color: #29293d;
  border-radius: 50%;
  margin-top: 30px;
}
.description {
  line-height: 30px;
}
